@model RelatorioDTO
@{
	ViewData["Title"] = $"Relatório {Model.Titulo}";
}

@if(Model != null)
{
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Exclusão</h5>
				<button type="button" class="close" data-bs-dismiss="modal">
				<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Quer excluir permanantemente este relatório?
			</div>
			<div class="modal-footer">
				<button id="btnExclui" type="button" class="btn btn-danger">Excluir</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
			</div>
			</div>
		</div>
	</div>

	<form id="deleteform" asp-route-id="@Model.Id" asp-controller="Relatorio" asp-action="Delete" method="post"></form>

	<form asp-route-id="@Model.Id" asp-controller="Relatorio" asp-action="Update" method="post">
		<div class="form-group">
			<label asp-for="Titulo">Título</label>
			<input type="text" asp-for="Titulo" class="form-control" value="@Model.Titulo" />
			<span asp-validation-for="Titulo" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Descricao">Descrição</label>
			<textarea asp-for="Descricao" class="form-control" rows="10">@Model.Descricao</textarea>
			<span asp-validation-for="Descricao" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label>Data de criação</label>
			<input type="date" class="form-control" value="@Model.DataCadastro.ToString("yyyy-MM-dd")" readonly />
		</div>
		<br />
		<div class="text-end">
			<button class="btn btn-primary" type="submit">Modificar</button>
			<a data-bs-toggle="modal" data-bs-target="#deleteModal" href = "#" class="btn btn-danger" id = "btnExclui">Excluir</a>
			<a asp-controller="Candidatura" asp-action="Update" asp-route-id="@Model.CandidaturaId" class = "btn btn-success">Voltar para candidatura</a>
		</div>
	</form>

	<script type="text/javascript">
		const btnExclui = document.getElementById("btnExclui");

		btnExclui.addEventListener("click", function () {
			const form = document.getElementById("deleteform");
			form.submit();
		});
	</script>
}